.card {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 3px 3px 7px 3px rgba(0,0,0,0.1);
    height: 280px;
}

.info-movie {
    width: 65%;
    height: 281px;
    margin-left: 20px;

}


