.card {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 3px 3px 7px 3px rgba(0,0,0,0.1);
    height: 280px;
}

.info-movie {
    width: 65%;
    height: 281px;
    margin-left: 20px;
    position: relative;
}

.genre {
    display: inline-block;
    height: 20px;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 2px;
    font-style: 12px;
    color: rgba(0, 0, 0, 0.65);
    padding: 1px 3px 2px 5px;
    font-size: 12px;
    line-height: 15px;
    margin-right: 3px;
    cursor: pointer;
}

.ant-rate {
    justify-content: flex-end;
    flex: 0 0 auto;
    position: absolute;
    top: 240px
}

.ant-rate-star {
    width: 16px;
}  